# Database
DATABASE_URL="postgresql://neondb_owner:npg_ULGdjg6Mc0CW@ep-plain-rain-ac16t4hq-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Application
NEXT_PUBLIC_APP_NAME="YuFinance"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Authentication
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"